@use './css/tabs.scss';
@use './css/element_settings.scss';
@use '../fields/fields.scss';

.control_panel {
    
    background: var(--dark);
	border-right: var(--border-light);
	flex-shrink: 0;
	width: 320px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
    z-index: 10;;
    color: #fff;
    
    > .inner {
        padding: 16px;
        height: 100%;
        overflow: auto;
    }

}

.control_panel .resize_handle {
    position: absolute;
    height: 100%;
    width: 12px;
    top: 0;
    right: -6px;
    cursor: e-resize;
    z-index: 10;
    opacity: 0;
}