.elements {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    .element {
        border: 1px solid #ffffff2f;
        border-radius: 4px;
        background: #0000001f;
        padding: 10px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}