.control_panel {

    .tabs_nav {
        border-bottom: 1px solid #ffffff2c;
        font-size: 11px;
        display: flex;
        align-items: flex-start;
        font-weight: 600;
        overflow: hidden;
    }

    .tab_nav {
        padding: 6px 14px;
        background: rgb(255 255 255 / 4%);
        cursor: pointer;
        flex-shrink: 0;

        &.active {
            background: rgb(255 255 255 / 12%);
        }
    }

    .tab_content {
        padding: 15px 0 16px;
    }
}