.add_zone {

    height: 0;
	background: hsl(186.01deg 36.8% 45.47% / 71%);
	color: #fff;
	align-items: center;
	justify-content: center;
	display: flex;
    cursor: pointer;
    opacity: 0;
    transition: opacity .1s ease;
    position: absolute;
    width: 100%;
    
    &::before {
        content: "+";
        font-size: 24px;
        line-height: 0;
        color: rgb(255 255 255 / 46%);
    }

    &:hover {
        opacity: 1;
    }
}