.elements_structure,
.page_content,
.control_panel {
    margin-top: 32px;
}

.top_bar {

    height: 32px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #26282c;
    z-index: 1000;
    border-bottom: 1px solid #ffffff27;

    display: flex;
    padding: 4px 12px;
    gap: 10px;

    button {
        border-radius: 3px;
        padding: 3px 14px;
        cursor: pointer;
        border: 1px solid rgba(255, 255, 255, 0.1294117647);
        background: rgba(255, 255, 255, 0.0941176471);
        color: rgba(250, 250, 250, 0.6431372549);
        z-index: 20;
        font-size: 12px;
        // width: 70px;

        &[data-state="saved"]{
            border-color: #59c75966;
            color: #59c759;
        }

        &:hover {
            background: #ffffff31;
        }
    }

}

.top_bar_left,
.top_bar_right {
    display: flex;
    gap: 10px;
}

.top_bar_right {
    margin-left: auto;
}