.element_settings {

    .field {
        margin-bottom: 10px;
        background: #ffffff09;
        border-radius: 6px;
        padding: 12px 16px;
        border: 1px solid #ffffff1e;
        font-size: 12px;

        input {
            background: none;
            border: 1px solid #ffffff6c;
            color: #fff;
            padding: 5px 10px;
            border-radius: 4px;
            width: 100%;
        }
    }

    .field_label {
        margin-bottom: 5px;
    }

    .clear_input {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: #ffffff17;
        padding: 3px;
        border-radius: 3px;
        width: 27px;
        flex-shrink: 0;

        &:hover {
            background: #ffffff2d;
        }

        &::before {
            content: '\e906';
            font-family: 'icomoon';
            font-weight: 400;
        }
    }
}