.reorder_element {
    position: relative;
    
    &.drop_target {
        box-shadow: inset 0 0 0 1px rgba(38, 234, 179, 0.917);
    }

    &[data-state="reorder"] {
        box-shadow: inset 0 0 0 1px rgba(38, 234, 179, 0.917);
    }
}

.reorder_handle {

    display: flex;
    cursor: grab;
    width: 24px;
    height: 24px;
    border: 1px solid #ffffff7e;
    border-radius: 3px;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    color: #ffffff6b;

    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;

    &::after {
        content: '\e907';
        font-family: 'icomoon';
    }

}