.elements_manager_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    .element {
        border: 1px solid #ffffff2f;
        border-radius: 4px;
        background: #0000001f;
        padding: 10px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

.popup_content .elements_manager_list {

    display: flex;
    gap: 20px;

    .element {
        flex-basis: 140px;
    }
}