:root {

    --dark: hsl(220 13% 11% / 1);
    --dark-100: hsl(220 13% 13% / 1);

    --border-light: 1px solid #ffffff25;

    --border-radius: 16px;
    --border-radius-md: 12px;
    --overlay-dark: #00000033;

    --white: #ffffffb9;

    --display: flex;
    --flex-direction: column;

    --row-gap: 20px;
    --column-gap: 20px;

    --inner-width: 1200px;

    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-left: 10px;
    --padding-right: 10px;
}