:root {

    --dark: hsl(220 13% 11% / 1);
    --dark-100: hsl(220 13% 13% / 1);

    --border-light: 1px solid #ffffff25;

    --border-radius: 16px;
    --border-radius-md: 12px;
    --overlay-dark: #00000033;

    --white: #ffffffb9;

}