:root {

    --dark: hsl(200 5% 10% / 1);
    --dark-100: hsl(200 5% 11% / 1);

    --border-light: 1px solid #ffffff21;

    --border-radius: 16px;
    --overlay-dark: #00000033;

    --white: #ffffffb9;

}