.elements_structure {
    background: var(--dark);
	border-left: var(--border-light);
	flex-shrink: 0;
	width: 200px;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
    z-index: 10;;
    color: #fff;
    padding: 40px 16px 16px;
    
}

.elements_structure .resize_handle {
    position: absolute;
    height: 100%;
    width: 12px;
    top: 0;
    left: -6px;
    cursor: e-resize;
    z-index: 10;
    opacity: 0;
}

.elements_structure {

    .structure_body {
        display: flex;
        flex-direction: column;
        gap: 5px;

        > .item_con {
            background: #ffffff05;
            border: 1px solid #ffffff28;
            border-radius: 3px;
            padding: 3px 3px
        }
    }

    .item {

        font-size: 12px;
        padding: 2px 2px;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        gap: 5px;
        justify-content: space-between;
        user-select: none;
        
        &:hover {
            background: #ffffff0a;
        }

        &.selected {
            background: #ffffff1a;
        }

        .toggle_btn {
            
            background: #ffffff17;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            width: 16px;
            height: 16px;

            &:hover {
                background: #ffffff3a;
            }

            &::after {
                content: '\e904';
                font-family: icomoon;
            }
        }
    }

    .item_con {
        
        .children {
            display: none;
            padding-left: 10px;
            flex-direction: column;
            // border-left: 1px solid #ffffff47;
        }

        &.toggle_children {

            > .item {
                > .toggle_btn::after {
                    transform: rotate(180deg)
                }
            }

            > .children {
                display: flex;
            }
        }
    }
}