.elements_structure {
    background: var(--dark);
	border-left: var(--border-light);
	flex-shrink: 0;
	width: 200px;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
    z-index: 10;;
    color: #fff;
    padding: 40px 16px 16px;
    
}

.elements_structure .resize_handle {
    position: absolute;
    height: 100%;
    width: 12px;
    top: 0;
    left: -6px;
    cursor: e-resize;
    z-index: 10;
    opacity: 0;
}

.elements_structure {

    .item {
        font-size: 12px;
        padding: 3px 6px;
        border-radius: 4px;
        cursor: pointer;
        

        &:hover {
            background: #ffffff12;
        }

        &.selected {
            background: #ffffff12;
        }
    }

    .children {
        padding-left: 10px;
        border-left: 1px solid #ffffff47;
    }
}