.builder_container {
    display: flex;
    flex-direction: column;
}

.container {
    
    background: #ffffff11;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #ffffff25;
    margin: 5px;
    min-height: 140px;
    color: #ffffff67;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        border-color: #ffffff49;
    }

    &[data-state="grabbed"] {
        border-color: #ffffff86;
    }
}

.drop_zone_container {
    height: 0;
    position: relative;
    
    .drop_zone {
        height: 30px;
        background: transparent;
        position: relative;
        top: -15px;
        transition: background .1s ease;

        &[data-state="drop_target"] {
            background: #30d6e273;
        }
    }
}

.drag_indicator {
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff5b;
    background: #ffffff1f;
    border-radius: 6px;
    z-index: 1000;
    position: absolute;
    pointer-events: none;
}