@use './add_zone/add_zone.scss';

.page_builder {
    display: flex;
}

.page_content {
    flex: 1;
}

.page_content_body {

    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;

    // column-gap: var(--column-gap);
    // row-gap: var(--row-gap);

    min-height: 200px;
    background: #00000028;
    
    &[data-state="drag_start"]{
        cursor: grabbing;
    }
}

.page_builder_content:not([data-state="drag_start"]){
    .container:hover{
        box-shadow: inset 0 0 0 1px #ffffff28;
    }
}

.drop_zone_container {

    height: 0;
    position: relative;
    
    .drop_zone {
        height: 30px;
        background: transparent;
        position: relative;
        top: -15px;
        transition: background .1s ease;

        &[data-state="drop_target"] {
            background: hsl(186.01deg 36.8% 45.47% / 71%);
        }

        color: #fff;
        font-size: 20px;
    }
}

.drag_indicator {
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff5b;
    background: #ffffff1f;
    border-radius: 6px;
    z-index: 1000;
    position: absolute;
    pointer-events: none;
}