.save_button {

    position: fixed;
    top: 5px;
    right: 5px;
    border-radius: 3px;
    padding: 3px 14px;
    cursor: pointer;

    border: 1px solid #ffffff21;
    background: #ffffff18;
    color: #fafafaa4;
    z-index: 10;
    font-size: 12px;

    width: 70px;
    
    &[data-state="saved"]{
        border-color: #59c75966;
        color: #59c759;
    }

    &:hover {
        background: #ffffff31;
    }
}