.field_num4d {

    .inputs_con {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px 10px;
        
        width: 100%;
        
        input {
            // width: 70px;
            width: 100%;
            text-align: center;
        }
        
        input:nth-child(1){
            grid-row: 1;
            grid-column: 2 / span 2;
        }

        input:nth-child(2){
            grid-row: 2;
            grid-column: 3 / span 2;
        }

        input:nth-child(3){
            grid-row: 3;
            grid-column: 2 / span 2;
        }

        input:nth-child(4){
            grid-row: 2;
            grid-column: 1 / span 2;
        }
    }
}