.el_con {

    color: #ffffff67;
    
    display: var(--display);
    flex-direction: var(--flex-direction);

    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
}

.el_con > .con_inner {

    width: var(--inner-width);
    margin: auto;

    display: flex;
    flex-wrap: wrap;
}

.con_inner {
    > .el, .el_con {
        width: 100%;
    }
}