.container {

    background: #ffffff11;
    padding: 40px;
    border-radius: 10px;
    min-height: 140px;
    color: #ffffff67;
    font-size: 30px;
    font-weight: 500;
    
    display: var(--display);
    flex-direction: var(--flex-direction);
    
    &[data-state="grabbed"] {
        box-shadow: inset 0 0 0 2px #ffffffc5;
    }
}